{% extends "base.html" %}

{% block content %}
<main class="auth">
    <form class="form" method="POST">
        <h2>Crear Cuenta</h2>

        <input type="text" name="nombre" placeholder="Nombre completo" required>
        <input type="email" name="correo" placeholder="Correo electrónico" required>
        <input type="password" name="password" placeholder="Contraseña" required>

        <button type="submit">Registrar usuario</button>

        {% if mensaje %}
            <p class="message">{{ mensaje }}</p>
        {% endif %}
    </form>
</main>
{% endblock %}